<!-- footer start -->
<section class="footer-wrapper">
  <div class="footer-wrapper-bg">
    <svg>
      <defs>
        <linearGradient id="linear-gradient" x1="0.238" y1="0.343" x2="0.911" y2="0.727" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#162a3d" />
          <stop offset="1" stop-color="#00364f" />
        </linearGradient>
        <linearGradient id="linear-gradient-2" x1="0.181" y1="0.173" x2="0.773" y2="0.616" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#429bd6" />
          <stop offset="1" stop-color="#429bd6" />
        </linearGradient>
      </defs>
      <g id="Group_529" data-name="Group 529" transform="translate(0 -583.274)">
        <path id="Path_56" data-name="Path 56" d="M-309.809,1131.478s220.01-94.29,621.115,8.98,504.376,1.5,604.652-67.35,440.019-287.359,615.129,86.807,37.417,278.379,37.417,278.379H-309.809Z"
          transform="matrix(0.998, 0.07, -0.07, 0.998, 169.173, -539.777)" fill="url(#linear-gradient)" />
        <path id="Path_57" data-name="Path 57" d="M-309.809,1131.478S141.653,873.932,354.94,959.4s279.051,194.235,629.4,38.358,415.225-217.943,751.63,133.715S1568.5,1438.294,1568.5,1438.294H-309.809Z"
          transform="translate(155 -322)" fill="url(#linear-gradient-2)" />
      </g>
    </svg>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row m-b-20">
          <div class="col-md-3">
            <div class="logo">
              <img class="footer-logo" src="../../assets/img/white-logo.png" alt="jobkhaani_logo" />
            </div>
            <div class="social-link-wrapper">
              <div class="social-item">
                <a href="#">
                  <i class="fa fa-facebook-f"></i>
                </a>
              </div>
              <div class="social-item">
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-3">
                <div class="footer-item-wrapper">
                  <div class="footer-title">information</div>
                  <div class="footer-links">
                    <a href="#">FAQ</a>
                    <a href="#">About us</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="footer-item-wrapper">
                  <div class="footer-title">Policies</div>
                  <div class="footer-links">
                    <a href="#">Privacy Policy</a>
                    <a href="#">Terms of Services</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="footer-item-wrapper">
                  <div class="footer-title">Pricing</div>
                  <div class="footer-links">
                    <a href="#">Employer's Service Plan</a>
                    <a href="#">Freelancer's Service Fee</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="footer-item-wrapper">
                  <div class="footer-title">Contact</div>
                  <div class="footer-links">
                    <a href="#">Support</a>
                    <a href="#">contact us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="footer-copyright-wrapper">
              <p>
                Copyright © 2019 <a href="#">Jobkhaani</a>. All right reserved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- footer closed -->
