<section class="verification-page">
  <div class="header-svg-bg">
    <svg>
      <defs>
        <linearGradient id="a" x1="0.316" y1="0.301" x2="0.758" y2="0.655" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#11b2e8" />
          <stop offset="1" stop-color="#429bd6" />
        </linearGradient>
      </defs>
      <g>
        <path d="M9336.787,628.342s-203.633-185.956-331.307-188.5-188.5,25.7-259.906-137.093S8567.688,141,8521.688,130s-318-82-327-289-215.228-240.549-291-238-357.678-11.422-349.109-234.2,1862.178-34.273,1862.178-34.273L9485.3,439.84Z"
          transform="translate(-7531 389)" fill="#f2eefd" />
        <path d="M9336.787,628.342s-203.633-185.956-331.307-188.5-188.5,25.7-259.906-137.093S8567.688,141,8521.688,130s-318-82-327-289-215.228-240.549-291-238-357.678-11.422-349.109-234.2,1862.178-34.273,1862.178-34.273L9485.3,439.84Z"
          transform="translate(-7531 329)" fill="url(#a)" />
      </g>
    </svg>
  </div>

  <div class="verificationwrapper">
    <div class="limiter">
      <div class="container-verification">
        <div class="wrap-verification">
          <form class="verification-form validate-form">
            <div class="verification-form-title">
              <div class="verification-logo-wrapper">
                <img src="../../assets/img/jobkhaani_logo.png" alt="jobkhaani_logo" class="logo">
              </div>
              <span class="header">
                Enter the verification code below
              </span>
              <span class="brief-text">
                Verification code has been sent to your email, please use the code to login.
              </span>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <div class="wrap-input-field">
                    <input autocomplete="off" class="input-field" required="required" type="text" placeholder="e.g. 1902">
                    <span class="focus-input-field" data-placeholder="e.g. 1902"></span>
                  </div>
                </div>
                <div class="text">
                  <span>If you haven't received email <a href="#">click here</a> to resend confirmation email.</span>
                </div>
                <div class="container-verification-form-btn">
                  <div class="wrap-back-form-btn">
                    <div class="back-form-bgbtn"></div>
                    <button class="back-form-btn"> Go back </button>
                  </div>

                  <div class="wrap-verification-form-btn">
                    <div class="verification-form-bgbtn"></div>
                    <button class="verification-form-btn"> Verify </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
