<section class="find-jobs-page">


  <app-navbar></app-navbar>

  <div class="header-svg-bg">
    <svg>
      <defs>
        <linearGradient id="a" x1="0.316" y1="0.301" x2="0.758" y2="0.655" gradientUnits="objectBoundingBox">
          <stop offset="0" stop-color="#11b2e8" />
          <stop offset="1" stop-color="#429bd6" />
        </linearGradient>
      </defs>
      <g>
        <path d="M9336.787,628.342s-203.633-185.956-331.307-188.5-188.5,25.7-259.906-137.093S8567.688,141,8521.688,130s-318-82-327-289-215.228-240.549-291-238-357.678-11.422-349.109-234.2,1862.178-34.273,1862.178-34.273L9485.3,439.84Z"
          transform="translate(-7531 389)" fill="#f2eefd" />
        <path d="M9336.787,628.342s-203.633-185.956-331.307-188.5-188.5,25.7-259.906-137.093S8567.688,141,8521.688,130s-318-82-327-289-215.228-240.549-291-238-357.678-11.422-349.109-234.2,1862.178-34.273,1862.178-34.273L9485.3,439.84Z"
          transform="translate(-7531 329)" fill="url(#a)" />
      </g>
    </svg>
  </div>

  <div class="find-jobs">
    <div class="container">
      <div class="alice-bg padding-top-70 padding-bottom-70">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="breadcrumb-area">
                <h1>Find a Job</h1>
              </div>
            </div>
            <div class="col-md-6">
              <div class="breadcrumb-form">
                <form action="#">
                  <input type="text" placeholder="Enter Keywords">
                  <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alice-bg section-padding-bottom">
        <div class="container">
          <div class="row no-gutters">
            <div class="col">
              <div class="job-listing-container">
                <div class="filtered-job-listing-wrapper">
                  <div class="job-view-controller-wrapper">
                    <div class="job-view-controller">
                      <div class="job-view-filter">
                        <div class="dropdown bootstrap-select"><select class="selectpicker" tabindex="-98">
                            <option value="" selected="">Most Recent</option>
                            <option value="california">Top Rated</option>
                            <option value="las-vegas">Most Popular</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="showing-number">
                      <span>Showing 1–12 of 28 Jobs</span>
                    </div>
                  </div>
                  <div class="job-filter-result">
                    <div class="job-list half-grid">

                      <div class="body col-md-12">
                        <div class="content col-md-9">
                          <h4>
                            <a href="#">Restaurant Team Member - Crew </a>
                          </h4>
                          <div class="project-description">
                            <p>
                              TestProject simplifies and enhances the use of leading open source tools Selenium &
                              Appium. It is driven by a community of passionate developers that create and share addons
                              for Mobile, Web and API testing.
                            </p>
                          </div>
                          <div class="info">
                            <span class="company">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-th"></i>IT Solution
                              </a>
                            </span>
                            <span class="job-type">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-clock-o"></i>Less than 1 month
                              </a>
                            </span>
                          </div>
                        </div>
                        <div class="more col-md-3">
                          <div class="prices">
                            <a href="#" class="price">Rs. 40000</a>
                          </div>
                          <p class="deadline">Deadline: Oct 31, 2018</p>
                        </div>
                      </div>
                    </div>
                    <div class="job-list half-grid">

                      <div class="body col-md-12">
                        <div class="content col-md-9">
                          <h4><a href="">Nutrition Advisor</a></h4>
                          <div class="info">
                            <span class="company">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-th"></i>IT Solution
                              </a>
                            </span>
                            <span class="job-type">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-clock-o"></i>Less than 1 month
                              </a>
                            </span>
                          </div>
                        </div>
                        <div class="more col-md-3">
                          <div class="prices">
                            <a href="#" class="price">Rs. 40000</a>
                          </div>
                          <p class="deadline">Deadline: Oct 31, 2018</p>
                        </div>
                      </div>
                    </div>
                    <div class="job-list half-grid">

                      <div class="body col-md-12">
                        <div class="content col-md-9">
                          <h4><a href="">UI Designer</a></h4>
                          <div class="info">
                            <span class="company">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-th"></i>IT Solution
                              </a>
                            </span>
                            <span class="job-type">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-clock-o"></i>Less than 1 month
                              </a>
                            </span>
                          </div>
                        </div>
                        <div class="more col-md-3">
                          <div class="prices">
                            <a href="#" class="price">Rs. 40000</a>
                          </div>
                          <p class="deadline">Deadline: Oct 31, 2018</p>
                        </div>
                      </div>
                    </div>

                    <div class="job-list half-grid">

                      <div class="body col-md-12">
                        <div class="content col-md-9">
                          <h4><a href="">Project Manager</a></h4>
                          <div class="info">
                            <span class="company">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-th"></i>IT Solution
                              </a>
                            </span>
                            <span class="job-type">
                              <a href="#">
                                <i aria-hidden="true" class="fa fa-clock-o"></i>Less than 1 month
                              </a>
                            </span>
                          </div>
                        </div>
                        <div class="more col-md-3">
                          <div class="prices">
                            <a href="#" class="price">Rs. 40000</a>
                          </div>
                          <p class="deadline">Deadline: Oct 31, 2018</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="pagination-list text-center">
                    <nav class="navigation pagination">
                      <div class="nav-links">
                        <a class="prev page-numbers" href="#">
                          <span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="page-numbers" href="#">1</a>
                        <a class="page-numbers active" href="#">2</a>
                        <a class="page-numbers" href="#">3</a>
                        <a class="page-numbers" href="#">4</a>
                        <a class="next page-numbers" href="#">

                          <span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                      </div>
                    </nav>
                  </div>
                </div>
                <div class="job-filter-wrapper">
                  <div class="job-filter-dropdown same-pad category">
                    <div class="dropdown bootstrap-select">
                      <select class="selectpicker" tabindex="-98">
                        <option value="" selected="" disabled>select category</option>
                        <option value="remote">IT</option>
                        <option value="on-site">Photography</option>
                      </select>
                    </div>
                  </div>
                  <div class="job-filter-dropdown same-pad work-place">
                    <div class="dropdown bootstrap-select">
                      <select class="selectpicker" tabindex="-98">
                        <option value="" selected="" disabled>Select work place</option>
                        <option value="remote">remote</option>
                        <option value="on-site">on-site</option>
                      </select>
                    </div>
                  </div>
                  <div class="job-filter-dropdown same-pad pay-type">
                    <div class="dropdown bootstrap-select">
                      <select class="selectpicker" tabindex="-98">
                        <option value="" selected="" disabled>Select pay type</option>
                        <option value="remote">hourly</option>
                        <option value="fixed">fixed</option>
                        <option value="on-site">salary</option>
                      </select>
                    </div>
                  </div>
                  <div class="job-filter-dropdown same-pad location">
                    <div class="dropdown bootstrap-select">
                      <select class="selectpicker" tabindex="-98">
                        <option value="" selected="" disabled>Select location</option>
                        <option value="">kathmandu</option>
                        <option value="">pokhara</option>
                      </select>
                    </div>
                  </div>
                  <div class="container-reset-form-btn">
                    <div class="btn-wrapper">
                      <div class="btn-primary-bg"></div>
                      <button class="btn btn-reset" type="reset"> Reset filter </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</section>
