@import '../../scss/mixin';

section.dashboard-page {
  overflow: hidden;
}

.features-tabs.section {
  padding: 30px 20px;
  width: 100%;
  height: 100%;
  min-height: 320px;
  background: $white-color;
}

.dashboard {
  padding: 80px 0;
}

.welcome-wrapper {
  @include display-flex;
  @include flex-direction-row;
  @include align-items-center;
  @include flex-wrap(wrap);
  width: 100%;
}

.welcome-title h1 {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: $success-color;
}

.welcome-btn-wrapper {
  @include display-flex;
  @include justify-content-flex-end;
}

.btn-grd-white .btn-grd {
  color: $text-dark;
}

.profile-wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  background: linear-gradient(to right, #ffffff, #f7f9fc);
  overflow: hidden;
}

.profile-img-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.profile-img {
  margin: 0px auto;
  width: 80px;
  padding: 3px;
  border: 3px solid rgb(210, 214, 222);
  border-radius: 50%;
}

.profile-title {
  text-align: center;
  margin-bottom: 10px;
}

.profile-title h2 a {
  color: $text-dark;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  @include transition();
}

.profile-title h2 a:hover {
  color: $text-primary;
}

.profile-location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  margin-bottom: 10px;
}

.profile-location i {
  margin-right: 5px;
}

.profile-location p {
  font-size: 1.4rem;
}

.profile-btn .container-btn {
  @include justify-content-center;
}

.profile-btn .container-btn .btn-wrapper {
  margin: 0;
}

// table
.profile-header i {
  margin-right: 8px;
}

.profile-header span {
  font-size: 2rem;
  font-weight: 700;
  color: $text-dark;
  text-transform: capitalize;
}

.profile-body th {
  font-size: 1.6rem;
  color: $text-dark;
}

/* features tabs start */

.section-inner {
  position: relative;
  //   padding-top: 48px;
  //   padding-bottom: 48px;
}

.tabs-container {
  // max-width: 760px;
  margin: 0 auto;
}

.tabs-links {
  list-style: none;
  padding: 0;
  margin-top: -12px;
  border: 0;
}

.tabs-links li {
  padding-top: 12px;
  padding-bottom: 12px;
}

.tab-link {
  position: relative;
  display: block;
  padding: 24px;
  text-decoration: none;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 16px 48px rgba(32, 41, 50, 0.12);
}

.tab-link:hover,
.tab-link.active {
  text-decoration: none;
  background: rgba(255, 255, 255, 1);
}

.tab-link.active i,
.tab-link.active span {
  color: $text-primary;
}

.tab-link {
  display: flex;
  align-items: center;
  width: 57px;
  overflow: hidden;
}

.tab-link img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.tab-link i {
  margin-right: 16px;
  font-size: 2rem;
}

.tab-link span {
  font-size: 1.6rem;
  color: $text-dark;
  text-transform: capitalize;
  white-space: nowrap;
}

// .tab-link::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   border-width: 2px;
//   border-style: solid;
//   border-color: rgba(255, 255, 255, 0);
//   transition: border-color .25s ease;
// }

// .tab-link.active::before,
// .tab-link.is-active::before {
//   border-color: #00C7FA;
// }

.tab-link.active {
  width: 240px;
}

.tab-link.active span {
  display: block !important;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
  animation: panelIn 0.4s ease both;
}

@keyframes panelIn {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab-panel p {
  font-size: 2rem;
}

.tab-panel span {
  font-size: 1.4rem;
  color: $danger-color;
  text-align: center;
  display: block;
}

.tab-item {
  display: block;
  // width: 100%;
}

.tab-content h2 {
  margin-top: 32px;
  font-size: 3.2rem;
  font-weight: 700;
  color: $text-dark;
}

.tab-content {
  text-align: center;
  margin-top: 10px;
}

.tab-panel th {
  font-size: 1.8rem;
  color: $text-dark;
  text-transform: capitalize;
  font-weight: 700;
  border: 0;
}

.tab-panel td {
  font-size: 1.4rem;
  font-weight: 500;
}

/* tooltip start */


/* tooltip closed */

@media (min-width: 641px) {
  //   .section-inner {
  //     padding-top: 88px;
  //     padding-bottom: 88px;
  //   }

  .tabs-container {
    display: flex;
  }

  .tabs-links {
    // flex: 0 0 252px;
    // margin-right: 48px;
  }

  .tab-content {
    flex: 1;
  }

  .tab-content {
    text-align: left;
  }
}

@media (min-width: 1025px) {
  .tabs-container {
    // max-width: 900px;
  }

  // .tabs-links {
  //   flex: 0 0 344px;
  //   margin-right: 80px;
  // }
  .tab-content h2 {
    margin-top: 32px;
  }
}

@media (max-width: 991.98px) {
  .nav {
    display: block;
    width: 100%;
  }

  .tab-link {
    width: 100%;
  }

  .tab-link.active {
    width: 100%;
  }
}

@media (max-width: 768.98px) {
  .welcome-title {
    text-align: center;
  }

  .welcome-btn-wrapper {
    @include justify-content-center;
  }

}

/* features tabs closed */

// /* features tabs start */
// .section-inner {
//   position: relative;
//   padding-top: 48px;
//   padding-bottom: 48px;
// }
// .tabs-container {
//   // max-width: 760px;
//   margin: 0 auto;
// }
// .tabs-links {
//   list-style: none;
//   padding: 0;
//   margin-top: -12px;
//   border: 0;
// }
// .tabs-links li {
//   padding-top: 12px;
//   padding-bottom: 12px;
// }
// .tab-link {
//   position: relative;
//   display: block;
//   padding: 24px;
//   background: $white-color;
//   box-shadow: 0 16px 48px rgba(32, 41, 50, 0.12);
// }
// .tab-link,
// .tab-link:hover,
// .tab-link:active {
//   text-decoration: none;
// }
// .tab-link {
//   display: flex;
//   align-items: center;
//   width: 58px;
//   overflow: hidden;
// }
// .tab-link img {
//   height: auto;
//   max-width: 100%;
//   vertical-align: middle;
// }
// .tab-link i {
//   margin-right: 16px;
//   font-size: 2rem;
// }
// .tab-link span {
//   font-size: 1.6rem;
//   color: $text-dark;
//   text-transform: capitalize;
//   white-space: nowrap;
// }
// .tab-link::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   border-width: 2px;
//   border-style: solid;
//   border-color: rgba(255, 255, 255, 0);
//   transition: border-color .25s ease;
// }
// .tab-link.active::before,
// .tab-link.is-active::before {
//   border-color: #00C7FA;
// }
// .tab-link.active {
//   width: 210px;
// }
// .tab-link.active span {
//   display: block !important;
// }
// .tab-panel {
//   display: none;
// }
// .tab-panel.active {
//   display: block;
//   animation: panelIn .4s ease both;
// }
// @keyframes panelIn {
//   0% {
//     opacity: 0;
//     transform: translateY(16px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
// .tab-panel p {
//   font-size: 2rem;
// }
// .tab-item {
//   display: block;
//   width: 100%;
// }
// .tab-content h2 {
//   margin-top: 32px;
//   font-size: 3.2rem;
//   font-weight: 700;
//   color: $text-dark;
// }
// .tab-content {
//   text-align: center;
// }
// .tab-panel th {
//   font-size: 1.8rem;
//   color: $text-dark;
//   text-transform: capitalize;
//   font-weight: 700;
// }
// .tab-panel td {
//   font-size: 1.4rem;
//   font-weight: 500;
// }
// @media (min-width: 641px) {
//   .section-inner {
//     padding-top: 88px;
//     padding-bottom: 88px;
//   }
//   .tabs-container {
//     display: flex;
//   }
//   .tabs-links {
//     flex: 0 0 252px;
//     margin-right: 48px;
//   }
//   .tab-content {
//     flex: 1;
//   }
//   .tab-content {
//     text-align: left;
//   }
// }
// @media (min-width: 1025px) {
//   .tabs-container {
//     // max-width: 900px;
//   }
//   // .tabs-links {
//   //   flex: 0 0 344px;
//   //   margin-right: 80px;
//   // }
//   .tab-content h2 {
//     margin-top: 32px;
//   }
// }
// /* features tabs closed */
