$primary-color: #429bd6;
$secondary-color: #ff6250;
$light-primary-color: #11B2E8;
$light-secondary-color: #ff9083;
$dark-accent-color: #00364F;

/*--- */

$default-color: #666666;
$default-secondary-color: #999999;
$info-color: #1c213a;
$success-color: #42a173;
$warning-color: #c0913b;
$danger-color: #f44336;
$white-color: #fff;
$border-color: #adadad;
$border-color-secondary: #9e9c9e;
$border-light-color: #f2f2f2;
$border-light-color-secondary: #dee2e6;
$input-placeholder-color: #adadad;
$sidebar-color: #212529;
$btn-tbl-view: #c0913b;
$btn-tbl-edit: #888;
$btn-tbl-delete: #f96332;

/* text color*/

$text-primary:#429BD6;
$text-secondary: #ff6250;
$text-dark: #161e2b;
$text-light: #F2F3F8;
$text-light-secondary: #F2F3F8;
$text-dark-secondary: #0b0e16;

/* for fill background-color */

$fill-primary:#429BD6;
$fill-secondary: #ff6250;
$fill-dark: #161e2b;
$fill-light: #F2F3F8;
$fill-light-secondary: #F2F3F8;
$fill-dark-secondary: #0b0e16;